<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navigation">
        <h1>뱅킹 시스템</h1>
        {% if role=="user" %}
        <a href="{{url_for('create_acc')}}">계좌 개설</a>
        {% endif %}
        <div class="auth_nav">
            {% if not uid %}
            <a href="{{url_for('signup')}}">회원가입</a>
            <a href="{{url_for('signin')}}">로그인</a>
            {% else %}
            <a href="{{url_for('signout')}}">로그아웃</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>