<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="{{url_for('static', filename='js/check.js')}}"></script>
</head>
<body>
    {% set messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{ messages[0] }}");
    </script>
    {% endif %}
    <div class="navigation">
        <h1>뱅킹 시스템</h1>
        <a href="{{url_for('index')}}">메인으로</a>
        {% if role=="user" %}
        <a href="{{url_for('my_acc')}}">내 계좌</a>
        <a href="{{url_for('transaction')}}">입출금</a>
        <a href="{{url_for('transfer')}}">계좌이체</a>
        {% endif %}
        <div class="auth_nav">
            {% if not uid %}
            <a href="{{url_for('signup')}}">회원가입</a>
            <a href="{{url_for('signin')}}">로그인</a>
            {% else %}
            <a href="{{url_for('signout')}}">로그아웃</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>