{% extends "layout.html" %}

{% block title %}거래 내역 목록{% endblock %}

{% block content %}
<h2>거래 내역 목록</h2>
<form action="{{url_for('transaction_list')}}">
    <select name="acc_search">
        <option value="0">전체 계좌 내역 조회</option>
        {% for a in acc_list %}
        <option value="{{a[0]}}" {% if acc_search == a[0] %}selected{% endif %}>{{a[0]}} ({{a[1]}})</option>
        {% endfor %}
    </select>
    <button type="submit">조회</button>
</form>
{% if trans_list %}
<table>
    <tr>
        <th>거래 번호</th>
        <th>계좌 번호</th>
        <th>거래 유형</th>
        <th>금액</th>
        <th>거래 후 잔액</th>
        <th>거래 일시</th>
    </tr>
    {% for t in trans_list %}
    <tr>
        <td>{{t[0]}}</td>
        <td>{{t[1]}}</td>
        <td>{{t[2]}}</td>
        <td>{{t[3]}}</td>
        <td>{{t[4]}}</td>
        <td>{{t[5]}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
거래 내역이 없습니다.
{% endif %}
{% endblock %}